#--- Delay Ch.$(CHAN) ----------------------------------------------------
record(ao, "$(P):DELAY:CH$(CHAN)"){
  field(DESC, "Delay, channel $(CHAN)")
  field(PREC, "15")
  field(EGU,  "s")
  field(DRVL, "-1E16")
  field(DRVH, "1E16")
  field(LOPR, "-1E16")
  field(HOPR, "1E16")
  field(OUT,  "$(P):DELAY:CH$(CHAN)_write PP")
}
record(ao, "$(P):DELAY:CH$(CHAN)_write"){
  field(DTYP, "stream")
  field(SDIS, "$(P):DELAY:CH$(CHAN)_sync.PACT")
  field(DISV, "1")
  field(OUT,  "@$(PROTOFILE) setDelay($(CHAN),$(P):REF:CH$(CHAN).RVAL) $(L) $(A)")
  field(PREC, "15")
  field(EGU,  "s")
  field(FLNK, "$(P):DELAY:CH$(CHAN)_RBV.PROC")
}
record(ai, "$(P):DELAY:CH$(CHAN)_RBV"){
  field(DESC, "Delay, channel $(CHAN)")
  field(DTYP, "stream")
  field(INP,  "@$(PROTOFILE) getDelay($(CHAN)) $(L) $(A)")
  field(PREC, "15")
  field(EGU,  "s")
  field(FLNK, "$(P):DELAY:CH$(CHAN)_sync.PROC")
}
record(ao, "$(P):DELAY:CH$(CHAN)_sync"){
  field(PREC, "15")
  field(EGU,  "s")
  field(DOL,  "$(P):DELAY:CH$(CHAN)_RBV NPP")
  field(OMSL, "closed_loop")
  field(OUT,  "$(P):DELAY:CH$(CHAN) PP")
}
#--- Ref Ch.$(CHAN) ------------------------------------------------------------
record(mbbo, "$(P):REF:CH$(CHAN)"){
  field(DESC, "Delay reference, channel $(CHAN)")
  field(ZRVL, "0")
  field(ONVL, "2")
  field(TWVL, "3")
  field(THVL, "4")
  field(FRVL, "5")
  field(FVVL, "6")
  field(SXVL, "7")
  field(SVVL, "8")
  field(EIVL, "9")
  field(ZRST, "T0")
  field(ONST, "A")
  field(TWST, "B")
  field(THST, "C")
  field(FRST, "D")
  field(FVST, "E")
  field(SXST, "F")
  field(SVST, "G")
  field(EIST, "H")
  field(OUT,  "$(P):REF:CH$(CHAN)_write PP")
}
record(mbbo, "$(P):REF:CH$(CHAN)_write"){
  field(DTYP, "stream")
  field(ZRVL, "0")
  field(ONVL, "2")
  field(TWVL, "3")
  field(THVL, "4")
  field(FRVL, "5")
  field(FVVL, "6")
  field(SXVL, "7")
  field(SVVL, "8")
  field(EIVL, "9")
  field(ZRST, "T0")
  field(ONST, "A")
  field(TWST, "B")
  field(THST, "C")
  field(FRST, "D")
  field(FVST, "E")
  field(SXST, "F")
  field(SVST, "G")
  field(EIST, "H")
  field(SDIS, "$(P):REF:CH$(CHAN)_sync.PACT")
  field(DISV, "1")
  field(OUT,  "@$(PROTOFILE) setRef($(CHAN)) $(L) $(A)")
  field(FLNK, "$(P):REF:CH$(CHAN)_FO.PROC")
}
record(fanout, "$(P):REF:CH$(CHAN)_FO"){
  field(LNK1, "$(P):REF:CH$(CHAN)_RBV.PROC")
  field(LNK2, "$(P):DELAY:CH$(CHAN)_RBV.PROC")
}
record(mbbi, "$(P):REF:CH$(CHAN)_RBV"){
  field(DESC, "Delay reference, channel $(CHAN)")
  field(DTYP, "stream")
  field(ZRVL, "0")
  field(ONVL, "2")
  field(TWVL, "3")
  field(THVL, "4")
  field(FRVL, "5")
  field(FVVL, "6")
  field(SXVL, "7")
  field(SVVL, "8")
  field(EIVL, "9")
  field(ZRST, "T0")
  field(ONST, "A")
  field(TWST, "B")
  field(THST, "C")
  field(FRST, "D")
  field(FVST, "E")
  field(SXST, "F")
  field(SVST, "G")
  field(EIST, "H")
  field(INP,  "@$(PROTOFILE) getRef($(CHAN)) $(L) $(A)")
  field(FLNK, "$(P):REF:CH$(CHAN)_sync.PROC")
}
record(mbbo, "$(P):REF:CH$(CHAN)_sync"){
  field(ZRVL, "0")
  field(ONVL, "2")
  field(TWVL, "3")
  field(THVL, "4")
  field(FRVL, "5")
  field(FVVL, "6")
  field(SXVL, "7")
  field(SVVL, "8")
  field(EIVL, "9")
  field(ZRST, "T0")
  field(ONST, "A")
  field(TWST, "B")
  field(THST, "C")
  field(FRST, "D")
  field(FVST, "E")
  field(SXST, "F")
  field(SVST, "G")
  field(EIST, "H")
  field(DOL,  "$(P):REF:CH$(CHAN)_RBV NPP")
  field(OMSL, "closed_loop")
  field(OUT,  "$(P):REF:CH$(CHAN) PP")
}

